<p id="cart_item__point_info" class="message">
    ポイント制度をご利用になられる場合は、会員登録後ログインしてくださいますようお願い致します。<br/>
    ポイントは商品購入時に1pt＝<strong class="text-primary">{{ point.rate|price }}</strong>として利用することができます。
</p>

