<p id="cart_item__info" class="message">
    ポイント制度をご利用になられる場合は、会員登録後ログインしてくださいますようお願い致します。<br/>
    ポイントは商品購入時に1pt＝<strong class="text-primary">&nbsp;{{ point.rate }}円&nbsp;</strong>として使用することができます。
</p>

