<p id="cart_item__info" class="message">
    現在の保有ポイントは「<strong class="text-primary">&nbsp;{{ point.current }}pt&nbsp;</strong>」です。<br/>
    商品購入で加算されるポイントは「<strong class="text-primary">&nbsp;{{ point.add }}pt&nbsp;</strong>」です。<br/>
    ポイントは商品購入時に1pt＝<strong class="text-primary">&nbsp;{{ point.rate }}円&nbsp;</strong>として使用することができます。
</p>

