<p id="cart_item__point_info" class="message">
    現在の保有ポイントは「<strong class="text-primary">{{ point.current >= 0 ? point.current|number_format  : 0 }} pt</strong>」です。<br/>
    商品購入で加算されるポイントは「<strong class="text-primary">{{ point.add|number_format }}pt</strong>」です。<br/>
    ポイントは商品購入時に1pt＝<strong class="text-primary">{{ point.rate|price }}</strong>として利用することができます。
</p>

