<p id="detail_description_box__sale_point" class="text-primary">
    {% if point.min != point.max %}
        加算ポイント&nbsp;:&nbsp;<span>{{ point.min }}</span>&nbsp;<span class="small">pt</span> ～
        <span>{{ point.max }}</span>&nbsp;<span class="small">pt</span>
    {% else %}
        加算ポイント&nbsp;:&nbsp;<span>{{ point.max }}</span>&nbsp;<span class="small">pt</span>
    {% endif %}
</p>

