<div class="message_box">
    <p>
        現在の保有ポイントは<span class="text-primary">&nbsp;{{ point.current }}pt&nbsp;</span>です<br/>
        現在の仮ポイントは<span class="text-primary">&nbsp;{{ point.pre }}pt&nbsp;</span>です<br/>
        ※1pt<span class="text-primary">&nbsp;{{ point.rate }}円&nbsp;</span>でご利用いただけます
    </p>
</div>

