<p class="alignL text-danger small">※値引きや明細変更時のポイント計算は、自動では行われません。</p>
<dl id="product_info_result_box__point_summary" class="dl-horizontal">
    <dt id="product_info_result_box__point_use">利用ポイント&nbsp;:</dt>
    <dd>{{ form_widget(form.use_point) }}{{ form_errors(form.use_point) }}</dd>
    <dt id="product_info_result_box__point_add">加算ポイント&nbsp;:</dt>
    <dd>{{ form_widget(form.add_point) }}{{ form_errors(form.add_point) }}</dd>
</dl>
