<div id="point_info_box"  class="box">
    <div class="box-header">
        <h3 class="box-title">ポイント情報</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div  class="form-group">
            <div class="col-sm-3 col-lg-2">保有ポイント</div>
            <div class="col-sm-9 col-lg-10">
                <p>{{ currentPoint }} Pt</p>
            </div>
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->