<p class="alignL text-danger small">※注意※</p>
<p class="alignL text-danger small is-padding">
以下は、お客様がキャンセルなどされた際に、ポイントを手動調整するための項目です。
保有ポイント、確定ステータスとのみ連動しています。<br />
値引き、商品構成変更時の加算ポイント計算などは、自動で行われません。<br />
</p>
<dl id="product_info_result_box__point_summary" class="dl-horizontal">
    <dt id="product_info_result_box__point_use">利用ポイント&nbsp;:</dt>
    <dd>{{ form_widget(form.use_point) }}{{ form_errors(form.use_point) }}</dd>
    <dt id="product_info_result_box__point_add">加算ポイント&nbsp;:</dt>
    <dd>{{ form_widget(form.add_point) }}{{ form_errors(form.add_point) }}</dd>
</dl>
